@inherits LayoutComponentBase

<PageTitle>SyncfusionDocumentation-Personal</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
@* 
    <SfSidebar Width="250px" MediaQuery="(min-width: 600px)">
    <ChildContent>
        <div style="text-align: center;" class="text-content"> Sidebar </div>
    </ChildContent>
</SfSidebar>

<div class="text-content" style="text-align: center;">Main content</div> *@

    <main>
        <div class="top-row px-4">

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
