<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SyncfusionDocumentation-Personal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="controlsizemode">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Control Size Mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appsizemode">
                <span class="oi oi-list-rich" aria-hidden="true"></span> App Size Mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sfgridresponsivecol">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SfGrid Responsiveness
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="treegridresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TreeGrid Responsiveness
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboardlayoutresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard Layout Responsiveness
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toolbarresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ToolBar Responsiveness
            </NavLink>
        </div>

        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
