<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SyncfusionDocumentation-Personal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cultureswitcher">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Culture Switcher
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="controlsizemode">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Control Size
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appsizemode">
                <span class="oi oi-list-rich" aria-hidden="true"></span> App Size
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sfgridresponsivecol">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SfGrid Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="treegridresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TreeGrid Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboardlayoutresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DashLayout Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toolbarresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ToolBar Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabresponsiveness">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tab Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="icon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SfIcons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataupdates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dataupdates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inotifyproperty">
                <span class="oi oi-list-rich" aria-hidden="true"></span> INotifyProp
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="twowaydatabinding">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Two way DBinding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="restfuldatabinding">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Restful DBinding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autocompleteaccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Autocomplete access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkboxaccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Checkbox access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chipaccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chip access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comboboxaccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ComboBox access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datepickeraccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DatePicker access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datetimepickeracess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Datetimepicker access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialogaccess">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dialog access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staticculture">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Static Culture
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="righttoleft">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RightToLeft
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statepersistence">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StatePersitence
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editformvalidation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Editformvalidation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autocompletevalidation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AutoCompleteValidation
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
