@page "/sizemode"
@inherits ControlSizeBase

<h3>Size Mode for a control</h3>
<hr />
<SfButton @onclick="To_TouchMode">Touch</SfButton>
<SfButton @onclick="To_MouseMode">Click</SfButton>

<hr />
<div class="@CssClass">
    <SfCalendar TValue="DateTime?" Value="@DateValue"></SfCalendar>
</div>

<div>
    <SfButton>Button</SfButton>
</div>

<div>
    <SfCheckBox Label="checked" @bind-Checked="isChecked"></SfCheckBox>
</div>

