@page "/htmlattributes"

<p>When both Blazor and Html attributes are used, Blazor attrubutes will be prioritized.</p>
<SfTextBox ID="textbox" name="first-name" title="First name." minlength="15" Autocomplete="AutoComplete.Off"></SfTextBox>

<p>HtmlAttribute</p>
<SfTextBox HtmlAttributes="@( new() {{"style", "background:aliceblue;"}})"></SfTextBox>

<p>Input Html/DOM Events</p>
<div class="form-group">
    <SfTextBox @onfocus="OnTextFocus" @onblur="OnTextFocusOut"></SfTextBox>
</div>

@if (eventName != string.Empty)
{
    <div class="alert alert-info">@eventName event is triggered on the TextBox.</div>
}

@code {
    private string eventName = string.Empty;

    void OnTextFocus()
    {
        eventName = "Focus";
    }

    void OnTextFocusOut()
    {
        eventName = "Focusout";
    }
}